extends layout

block content
  .form-container
    .form-logo 회원가입
    .form-item
      form#join-form.form(action='/auth/join' method='post')
        .form-field
          label(for='join-email') 이메일
          input#join-email(type='email' name='email' required autofocus)
        .form-field
          label(for='join-nick') 닉네임
          input#join-nick(type='text' name='nick' required)
        .form-field
          label(for='join-password') 비밀번호
          input#join-password(type='password' name='password' required)
        .form-field
          button#join-btn.btn(type='submit') 회원가입
        .form-field
          if joinError
            .error-message= joinError