ul.menu-list
  li 사용자 정보 
    ul.menu-list-sub
      li 메뉴 1
      li 메뉴 2
      li 메뉴 3
  li 사용자 메뉴
    ul.menu-list-sub
      li 거래처 정보
      li 거래처 처리량
  li 거래처 관리
    ul.menu-list-sub
      li 메뉴 1
      li 메뉴 2
  li 주문 관리
    ul.menu-list-sub
      li 주문 관리
      li 주문등록/완결
      li 주문진행 현황
  li 재고 관리
    ul.menu-list-sub
      li 재고 관리
      li 재고 전환
      li 재고 조정
  li 자금 관리